body{
	font-family: 'Montserrat', sans-serif;
	font-weight:600;
	overflow-x:hidden;
}
img{max-width:100%;}
.topContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #464747;
    color: #fff;
    z-index: 1;
	background:url(../img/background.jpg) center top no-repeat;
	background-size:cover;
}
.topContainer .content{
	font-size: 30px;
    padding: 50px 0 0 50px;
    max-width: 500px;
}
.topContainer p span{
	color:#f16521;
}
.topContainer a span{
	background:url(../img/eyeOpen.png) center bottom no-repeat;
	background-size:cover;
	display:block;
	width:70px;
	height:45px;
}
.topContainer a:hover span{
	background:url(../img/eyeClose.png) center bottom no-repeat;
	background-size:cover;
}
.logo{
	width: 60px;
    margin-top: -30px;
}
.startBtn{
	position:relative;
	margin:50px;
}
.startBtn svg{
	max-width:400px;
}
.startBtn a{
	position: absolute;
    left: 0;
    width: 100px;
    height: 100px;
    border: solid 3px #000;
    border-radius: 50%;
    right: 0;
    margin: auto;
    top: 105px;
	cursor:pointer;
}
.startBtn a:hover{
	background:#fff;
}
.startBtn a span{
    width: 51px;
    border-top: solid 3px #000;
    display: inline-block;
    margin-top: 46px;
    position: relative;
    margin-left: -3px;
}
.startBtn a span:after{
    content: '>';
    font-family: cursive;
    font-weight: bold;
    color: #000;
    font-size: 28px;
    top: -25px;
    position: absolute;
    right: -8px;
}

header.topBar{margin:30px 0;}

footer{
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	background:#fff;
	-webkit-transition:all .3s ease-out;
	-moz-transition:all .3s ease-out;
	-o-transition:all .3s ease-out;
	transition:all .3s ease-out
}
.filterBar{
	padding:0;
	margin:10px auto;
	display:block;
}
.filterBar li{
	display:inline-block;
}
.filterBar li span{
    display: block;
    background: #929292;
    color: #fff;
    padding: 1px 25px;
    border-radius: 15px;
    margin-right: 12px;
	margin-bottom:4px;
    cursor: pointer;
}
.filterBar li span:hover,.filterBar li span.active{
	background: #000;
    color: #fff;
}

.gifs{
	padding:0;
	display:block;
}
.gifs li{
    float:left;
	list-style:none;
    border-radius: 50%;
    background: #fff;
	margin-bottom:4px;
	margin-right:4px;
    position: relative;
    border: solid 0.1em #0036cc;
    padding: 3px;
}
.gifs li div{
	display:block;
}
.gifs li.hd{border: solid 0.1em #0036cc;}
.gifs li.nhd{border: solid 0.1em #00a073;}
.gifs li.gov{border: solid 0.1em #ff7a17;}

.gifs li div a{
	border-radius:50%;
	display: block;
    overflow: hidden;
}
.popupOpen{
	cursor:pointer;
}
.popupOpen img{max-width:50px;}

.sideBar{
	padding-left:0;
}
.sideBar li{
	list-style:none;
}
.sbBtn{
	margin-bottom:5px;
	display:block;
	font-weight:600;
	background:#fff;
	position:relative;
}
.sbBtn:before{
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 2px #000;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.sbBtn.hdBtn:before{border: solid 2px #0036cc;}
.sbBtn.nhdBtn:before{border: solid 2px #00a073;}
.sbBtn.govBtn:before{border: solid 2px #ff7a17;}

.sbBtn:after{
	content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    left: 4px;
    background: #080808;
    border-radius: 50%;
    top: 7px;
	opacity:0;
}
.sbBtn.active:after{
	opacity:1;
}

.info{
	margin-top:100px;
	margin-right:50px;
}

.popupOverlay{
	position:fixed;
	display:none;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5);
}
.popup{
	max-width: 370px;
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
	height: 180px;
	background: #e2e3e4;
	position: absolute;
	text-align: center;
}
.popUpMain{
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.popupHeader{
	height:30px;
	background:#848688;
}
.popUpMain .popupContent{
	padding:35px;
}
.popupContent .popupBtn{
	display: block;
	background: #929292;
	padding: 1px 25px;
	border-radius: 15px;
	margin-right: 12px;
	margin-bottom: 4px;
	cursor: pointer;
	width: 87px;
	margin: 0 auto;
	color:#fff !important;	
}
.popupContent .popupBtn:hover{
	background: #000000;
}
span.close {
    float: right;
    font-size: 23px;
    font-weight: 700;
    line-height: 30px;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    margin-right: 6px;
}
.close:focus, .close:hover{
	color: #fff !important;
}
#mobileFilter{
    background: #929292;
    color: #fff;
    padding: 10px;
    border-radius: 15px;
    margin-right: 12px;
    margin-bottom: 4px;
    cursor: pointer;
    text-align: center;
    max-width: 100px;
	display:none;
	position:absolute;
	top:0;
	right:0;
}
#mobileFilter:hover{
	background: #000000;
}

@media only screen and (min-width:1600px){
	
}
@media only screen and (max-width:600px){
	header.topBar{margin:0;padding:5px 0;background:#f5f5f5;margin-bottom:10px;}
	header.topBar p{margin:5px 0;}
	header.topBar span{display:block;}
	.startBtn{margin:30px auto;}
	.startBtn svg{max-width:300px;}
	.startBtn a{top:68px;}
	.info{display:none;}
	#mobileFilter{display:block;}
	
	footer{
		width:60%;
		height:100%;
		top:0;
		left:-60%;
		padding:20px;
		background: #f5f5f5;
		border-right: solid 1px #999;
	}
	footer.active{
		left:0;
	}
	.popUpMain .popupContent{padding:10px;}
	.popup{max-width: 250px;height: 140px;}
}
